@charset "UTF-8";

@font-face {font-family: 'BebasNeue';
  src: url('../fontes/BebasNeue.ttf');
  format('opentype');
  font-weight: normal;
}

@font-face {font-family: 'Android';
  src: url('../fontes/idroid.ttf');
  format('opentype');
  font-weight: normal;

}

:root{
  --font-destaque: 'BebasNeue' ,cursive;
  --font-androide: 'Android' ,cursive;
}
img{
  width: 100%;
}
*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #c5ebd6;
}
p{
  margin: 15px 0px;
  font-size: 1em;
}
header{
  background-image: linear-gradient(to bottom, #3ddcad , #063d1e);
  min-width: 280px;
  max-width: 800px;
  padding: 20px;
  margin: auto;
}
header > h1{
  color: white;
  font-family: var(--font-destaque);
  text-align: center;
}
header > p{
  color: white;
  text-align: center;
  font-size: 1.2em;
}
nav{
  background-color: #063d1e;
  min-width: 280px;
  max-width: 800px;
  
}
nav > a{
  color: white;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  font-weight: bold
}
nav> a:hover{
  background-color: #1a5e37;
  color: #063d1e; 
}
main{
  background-color: white;
  min-width: 280px;
  max-width: 800px;
  padding: 20px;
  margin: auto;
}
main img.pequena{
  width: 50%;
  display: block;
  margin: auto;
}
iframe{
  display: block;
  margin: auto;
}
article > h2{
  font-family: var(--font-androide);
  font-size: 1.3em;
  background-image: linear-gradient(to right, #c5ebd6 , transparent);
  color: #1a5c37;
}
article > h1{
  font-family: var(--font-androide);
}
article > h2{
  font-family: var(--font-androide);
}
aside > h2{
  font-family: var(--font-androide);
  font-size: 1.3em;
  color: white;
  background-color: #063d1e;
  border-radius: 10px;
}
aside{
  background-color: #c5ebd6;
  border-radius: 10px;
}
aside > ul{
  list-style-position: inside;
  columns: 2;
}
footer{
  background-color: #063d1e;
  color: white;
  text-align: center;
  min-width: 280px;
  max-width: 800px;
  padding: 20px;
  margin: auto;
}